# API
        
HOST       = <host (Ex: localhost)>
PORT       = <port (Ex: 3000)>
ADMIN_USER = <email@mail.com>
# Security

JWT_KEY        = <key (Ex: secretKey)>
JWT_EXPIRES    = <key time expiration (ex: 1H)>

# Mysql DB
        
MYSQL_LIMIT    = <connections limit (ex: 5)>
MYSQL_TIMEOUT  = <connections timeout (ex: 2)>
MYSQL_HOST     = <mysql host (ex: localhost)>
MYSQL_PORT     = <mysql port (ex: 3306)> 
MYSQL_DATABASE = <mysql database name (ex: investments)>
MYSQL_USER     = <mysql user>
MYSQL_PASSWORD = <mysql password>  
DATABASE_URL="mysql://<mysql user>:<mysql password>@<mysql host>:<mysql port>/<mysql database>?connection_limit=<mysql limit>&pool_timeout=<mysql timeout>"